<div ng-cloak>
    <div class="row">
        <div class="col-md-1">
            <button class="btn btn-primary" ui-sref="training">Back</button>
        </div>
        <div class="text-center col-md-10">
            <p class="text-huge" data-translate="training.title">Exercise!</p>
        </div>
        <div class="col-md-1">
            <button class="btn btn-info" ng-click="saveQuery()">Run Query</button>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-4">
                <p class="text-large">{{vm.exercise.number}}.{{vm.exercise.description}}</p>
            </div>
            <div class="col-md-8">
                <textarea rows="20" placeholder="Query..." class="col-md-8 match-parent"
                          ng-model="vm.queryBody"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div>
                    <button class="btn btn-primary" ng-click="toggleHintVisibility()">{{showHintButtonText}}</button>
                </div>
                <div class="animate-hide bg-info" ng-show="showHint">
                    {{vm.exercise.hint}}
                </div>
            </div>
            <div class="col-md-8">

                <div>
                    <pre>{{vm.queryResult | json}}</pre>
                </div>
            </div>

        </div>
    </div>


</div>
