<div ng-cloak>
    <div class="row">
        <div class="text-center">
            <h1 data-translate="training.title">Exercise!</h1>
        </div>
    </div>

    <div ng-repeat="exercise in vm.exercises track by exercise.number">
        <div class="row">
            <button type="submit"
                    ui-sref="training-exercise({number:exercise.number})"
                    class="btn btn-info btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
                {{exercise.number}}. {{exercise.description}}
            </button>
        </div>
    </div>


    <!--<button type="submit"-->
    <!--ui-sref="exercise.edit({id:exercise.id})"-->
    <!--class="btn btn-primary btn-sm">-->
    <!--<span class="glyphicon glyphicon-pencil"></span>-->
    <!--<span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>-->
    <!--</button>-->


    <!--<div ng-repeat="exercise in vm.exercises track by exercise.number">-->

    <!--<div class="row">imp-->
    <!--<div class="col-md-4">-->
    <!--<p1>{{exercise.number}}.{{exercise.description}}</p1>-->
    <!--</div>-->
    <!--<div>-->
    <!--<textarea placeholder="Query..." class="col-md-8"></textarea>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-md-4">-->
    <!--<div>-->
    <!--<button class="btn btn-primary" ng-click="toggleHintVisibility()">{{showHintButtonText}}</button>-->
    <!--</div>-->
    <!--<div class="animate-hide bg-info" ng-show="showHint">-->
    <!--{{exercise.hint}}-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

</div>
