
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQueryLabel" data-translate="mongoExApp.query.home.createOrEditLabel">Create or edit a Query</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.query.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.query.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mongoExApp.query.userId" for="field_userId">User Id</label>
            <input type="text" class="form-control" name="userId" id="field_userId"
                    ng-model="vm.query.userId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mongoExApp.query.exerciseId" for="field_exerciseId">Exercise Id</label>
            <input type="text" class="form-control" name="exerciseId" id="field_exerciseId"
                    ng-model="vm.query.exerciseId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mongoExApp.query.queryBody" for="field_queryBody">Query Body</label>
            <input type="text" class="form-control" name="queryBody" id="field_queryBody"
                    ng-model="vm.query.queryBody"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mongoExApp.query.executionTime" for="field_executionTime">Execution Time</label>
                <div class="input-group">
                    <input id="field_executionTime" type="text" class="form-control" name="executionTime" datetime-picker="{{dateformat}}" ng-model="vm.query.executionTime" is-open="vm.datePickerOpenStatus.executionTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('executionTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="mongoExApp.query.result" for="field_result">Result</label>
            <input type="text" class="form-control" name="result" id="field_result"
                    ng-model="vm.query.result"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
